<script src="js/jquery.min.js"></script>
<script src="js/socket.io.js"></script>
<script src="js/bootstrap.min.js"></script>
<script>
    const socket = io("http://localhost:3000/");
</script>

<div class="container">
  <div class="vertical-center center row align-items-center bg_gray" id="beforestart">
    <div class="col-1"></div>
    <div class="col-xl-10">
        <div class="center">
        <h3>Measuring resting heart rate</h3>
        <h5>Press the UofA switch in Health Gauge app</h5>
            <label for="hrbutton" class="center">Sit comfortably and try to keep the watch arm as still as possible.<br><b>This process takes about 5 minutes.</label>
        <div class="center" id="status">
            <h5 id="status_text"></h5>
            <img src="img/heart.png" width="100" height="100" style="visibility:hidden" id="heart">
        </div>
        <div class="center" id="finish_button_div" style="display: none;">
            <button class="btn btn-primary btn-block" id="finish_button" type="button"> Finish </button>
            <button class="btn btn-primary btn-block" id="restart_button" type="button"> Re-start measurement </button>
        </div>
        </div> 
    </div>
    <div class="col-1"></div>
  </div>
</div>

<script src="js/heartrate.js"></script>