<script src="js/jquery.min.js"></script>
<script src="js/socket.io.js"></script>
<script src="js/bootstrap.min.js"></script>
<script>
  const socket = io("http://localhost:3000/");
</script>


<div class="container">
  <div class="vertical-center center row align-items-center bg_gray" id="login_page">
    <div class="col-1"></div>
    <div class="col-xl-10">
      <div class="center " id="choose">
        <button class="btn btn-block" id="signin_button" type="button" > Start a Session </button>
        <br>
        <label for="signup_button" class="center">Don't have an account yet?</label>
        <button class="btn btn-block" id="signup_button" type="button" > Sign Up </button>
      </div> 
    </div>
    <div class="col-1"></div>
  </div>

  <div class="vertical-center center row align-items-center bg_gray" id="signin" style="display: none;">
    <div class="col-1"></div>
    <div class="col-xl-10">
      <div class="center ">
        <form id="form" class="center" action="/signin" method="post">
            <label for="restbpm" class="center">User Name:</label>
            <input required type="text" id="username" name="username" style="width: 100%" ><br><br>
            <label for="mood" class="center">Before starting, please give a short description of what you did in the last hour and how you feel:</label>
            <input required type="text" id="mood" name="mood" placeholder="Write here..." style="width: 100%"><br><br>
        <div class="center" >
          <input id="formbutton" type="submit" class="btn btn-block" value="Start Session"> 
        </div>
        </form>
      </div> 
    </div>
    <div class="col-1"></div>
  </div>

  <div class="vertical-center center row align-items-center bg_gray" id="signup"  style="display: none;">
    <div class="col-1"></div>
    <div class="col-xl-10">
      <div class="center ">
        <form id="form" class="center" action="/signup" method="post">
            <label for="restbpm" class="center"><b>Create a Username:</b> (You must remember this to start sessions)</label>
            <input required type="text" id="username" name="username" style="width: 100%" ><br><br>
            <br><br><br>
            <h5>Survey</h5><br>
          <div class="text-left">
            <b>Age:</b><br>
            <input type="radio" id="age" name="age" value="custom" onclick="setRequired('agetext');"> <input type="text" name="agetext" id="agetext"/><br>
            <input type="radio" id="noageanswer" name="age" value="Prefer not to answer" onclick="removeRequired('agetext');" checked> Prefer not to answer<br><br>
          </div>
          <div class="text-left">
            <b>Occupation:</b><br>
            <input type="radio" id="occupation" name="occupation" value="custom" onclick="setRequired('occupationtext');"> <input type="text" name="occupationtext" id="occupationtext"/><br>
            <input type="radio" id="nooccupationanswer" name="occupation" value="Prefer not to answer" onclick="removeRequired('occupationtext');" checked> Prefer not to answer<br><br>
          </div>
          <div class="text-left">
            <b>Gender:</b><br>
            <input type="radio" id="maleanswer" name="gender" value="Male" onclick="removeRequired('gendertext');"> Male<br>
            <input type="radio" id="femaleanswer" name="gender" value="Female" onclick="removeRequired('gendertext');"> Female<br>
            <input type="radio" id="gender" name="gender" value="custom" onclick="setRequired('gendertext');"> Other: <input type="text" name="gendertext" id="gendertext"/><br>
            <input type="radio" id="nogenderanswer" name="gender" value="Prefer not to answer" onclick="removeRequired('gendertext');" checked> Prefer not to answer<br><br>
          </div>
            <br><br><br>
            <h5>Resting heart rate</h5>
            <label for="hrbutton" class="center">In order to get your resting heart rate, please connect to the pulse sensor. Once you are ready click start. Try to relax for a while as this process takes 5 minutes.</label>
        <div class="center" id="status" style="display: none;">
          <h4 id="status_text">Progress: Not connected </h4>
        </div>
        <div class="center" id="start_button_div" style="display: block;">
            <button class="btn btn-block" id="start_button" type="button" > Start </button>
        </div>
        <div class="center" >
          <input id="signupformbutton" type="submit" class="btn btn-block" value="Sign up" disabled> 
        </div>
        </form>
      </div> 
    </div>
    <div class="col-1"></div>
  </div>

  <div class="vertical-center center row align-items-center bg_gray" id="beforestart"  style="display: none;">
    <div class="col-1"></div>
    <div class="col-xl-10">
      <div class="center ">
        <form id="form" class="center" action="/soundscape">
            <label for="restbpm" class="center">Resting heart rate:</label>
            <input required type="number" id="restbpm" name="restbpm" style="width: 100%" ><br><br>
        <div class="center" >
          <input id="formbutton" type="submit" class="btn btn-block"> 
        </div>
        </form>
      </div> 
    </div>
    <div class="col-1"></div>
  </div>

</div>

<script src="js/start.js"></script>

