<script src="js/jquery.min.js"></script>
<script src="js/socket.io.js"></script>
<script src="js/bootstrap.min.js"></script>

<div class="container">

  <div class="vertical-center center row align-items-center bg_gray" id="signup">
    <div class="col-1"></div>
    <div class="col-xl-10">
      <div class="center ">
        <h2><b>Sign up</b></h2>
        <form id="form" class="center" action="/signup" method="post">
            <label for="restbpm" class="center"><b>Enter your Health Gauge User ID:</b>
              <p>You will use this id to start listening sessions</p>
            </label>
            <input required type="text" id="username" name="username" style="width: 100%" ><br><br>
            <br>
        <div class="center" >
          <input id="signupformbutton" type="submit" class="btn btn-primary btn-block" value="Sign up"> 
        </div>
        </form>
      </div> 
    </div>
    <div class="col-1"></div>
  </div>

</div>

